<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin page</title>
    </head>
    <body>
        <button onclick="window.location.href = '/logout';">logout</button>
        
        <p></p>
        
        <h2>Admin page to see last 20 messages, all users and possibility to delete users.</h2>
        
        <p></p>
        
        <ul>
            <li th:each="user : ${users}">
                <span th:text="${user.username}">user</span>
                <div th:if="${user.username != 'admin'}"> 
                    <form th:action="@{/admin/{id}/delete (id=${user.username})}" th:method="delete">
                        <input type="submit" value="Delete"/>
                    </form>
                </div>
                <p></p>
            </li>
        </ul>
        
        <p></p>
        
        <h3>Last 20 messages:</h3>
        
        <p></p>
        
        <table>
            <tbody>
                <tr th:each="message, iterStat :${messages}" th:if="${iterStat.index >= iterStat.size-20}">
                    <td th:text="${message.user}">user</td>
                    <td th:text="':     '"></td>
                    <td th:utext="${message.message}">message</td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>