<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin page</title>
    </head>
    <body>
        <h2>Admin page to see all users and delete users.</h2>
        
        <p></p>
        
        <ul>
            <li th:each="user : ${users}">
                <span th:text="${user.username}">user</span>
                <div th:if="${user.username != 'admin'}"> 
                    <form th:action="@{/admin/{id}/delete (id=${user.username})}" th:method="delete">
                        <input type="submit" value="Delete"/>
                    </form>
                </div>
                <p></p>
            </li>
        
        </ul>
    </body>
</html>