<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>
        <button onclick="window.location.href = '/logout';">logout</button>
        
        <p></p>
        
        <h1>Add a message</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="message">Message</label>: <input type="text" name="message" id="message"/></p>
            <p><input type="submit" value="Add" /></p>
        </form>
        
        <p></p>
        
        <h3>Your messages:</h3>
        
        <table>
            <tbody>
                <tr th:each="message : ${messages}">
                    <td th:utext="${message.message}">message</td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>
